# --- Python Backend ---
__pycache__/
*.pyc
venv/
.venv/
env/
.env

# --- Güvenlik  ---
firebase_key.json
*.pem

# --- React Native Frontend ---
node_modules/
.expo/
dist/
web-build/
.idea/
.vscode/
*.log
.DS_Store

# --- AI MODELI VE RESIMLER 
dataset/
yeni_model/
*.pt
*.bin
*.h5
*.safetensors